@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,500;1,600;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
h3{
    font-size: 20px;
    font-weight: 400;
}

p{
    color: dimgray;
}

.orange-color{
    color: orange;
}

.top-banner{
    display: flex;
    background: url(../images/top-banner.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.helf-width{
    width: 50%;
    padding-left: 100px;
    padding-right: 40px;
}

.helf-width img{
    width: 80%;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background:linear-gradient(lightsalmon,tomato);
    text-transform: uppercase;
    padding: 10px 40px;
}


/* Big Dream */


.big-dream{
    margin: 150px 0 100px 0;
    display: flex;
    background: url(../images/dream-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

/* experiencess start */

.ex-para{
    display: flex;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
}

#left-side{
    border-left: 5px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
    
    /* background:linear-gradient(lightsalmon,tomato); */
}

#right-side{
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
    /* background:linear-gradient(lightsalmon,tomato); */
}

.ex-helf{
    width: 40%;
    margin-left: 60px;
    height: 80%;
    /* float: left; */
    padding: 2% 4%;
    box-shadow: 3px 3px 31px -2px rgba(0,0,0,0.71);
    -webkit-box-shadow: 3px 3px 31px -2px rgba(0,0,0,0.71);
    -moz-box-shadow: 3px 3px 31px -2px rgba(0,0,0,0.71);

}

.text{
    color: orange;
    font-size: 20px;
    font-weight: 600;
}

footer{
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
}